extends layout

block content
  #container
    //- .header
    //-   header
    //-     h3 HexEmpire
    //-   nav
    //-     ul
    //-       li a
    //-       li b
    //-       li c

    //-   div(style="clear: both;")

    .map

      - for (var j = 0; j < 10; ++j)

        .row
          - for (var i = 0; i < 10; ++i)
            - if (i == 0 && j == 1)
              .hexagon
            - else if (i == 9 && j == 1)
              .hexagon.capital.player-purple.army
            - else if (i == 0 && j == 8)
              .hexagon.capital.player-blue
            - else if (i == 9 && j == 8)
              .hexagon.capital.player-green
            - else if (Math.random() > 0)
              .hexagon.army.player-red(data-army = "43")
            - else if (Math.random() > 1)
              .hexagon.army.player-green
            - else if (Math.random() > 1)
              .hexagon.army.player-blue
            - else if (Math.random() > 1)
              .hexagon.army.player-purple
            - else if (Math.random() > 1)
              .hexagon.city.army.player-red
            - else if (Math.random() > 0.6)
              .hexagon.city.player-red
            - else if (Math.random() > 0.6)
              .hexagon.city
            - else if (Math.random() > 0.3)
              .hexagon.ribbon.city.content
            - else
              .hexagon
              //- .hexagon(class = Math.random() > 0.3 ? "land army army-red" : "")

        - if (j != 9)

          .row
            - for (var i = 0; i < 11; ++i)
              - if (Math.random() > 0.98)
                .hexagon.army.player-red
              - else if (Math.random() > 0.98)
                .hexagon.army.player-green
              - else if (Math.random() > 0.98)
                .hexagon.army.player-blue
              - else if (Math.random() > 0.98)
                .hexagon.army.player-purple
              - else if (Math.random() > 0.3)
                .hexagon.land
              - else
                .hexagon

    //- .row
    //-   - for (var i = 0; i < 10; ++i)
    //-     .hexagon

    //- .row
    //-   - for (var i = 0; i < 11; ++i)
    //-     .hexagon

    //- .row
    //-   .hexagon.content.ribbon(data-content='This is a test!!!')
    //-   .hexagon.content.longtext(data-content='Some longer text here.')

    //- .row
    //-   .hexagon

    //- .row
    //-   .hexagon.content.ribbon(data-content='This is a test!!!')
    //-   .hexagon.content.longtext(data-content='Some longer text here.')

  a.fn-end-turn(href="#") End turn

  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
  script(src='/socket.io/socket.io.js')
  script(type='text/javascript').
    window.key = '#{key}';

  script(src='/player.js')
  script(src='/map.js')
  script(src='/game.js')
